var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return (_vm.showModule)?_c('div',{staticClass:"intelligent-composition container-backgrounde"},[_vm._m(0),_vm._v(" "),_c('div',{ref:"compositionRadarDiv",attrs:{"calss":"composition-rada-div"}},[_c('canvas',{ref:"compositionRadar"})]),_vm._v(" "),_vm._l((_vm.resultData),function(item,index){return _c('div',{key:index,staticClass:"content"},[_c('div',{staticClass:"composition-sub-title"},[_c('span',[_vm._v(_vm._s(item.title))])]),_vm._v(" "),_c('div',{staticClass:"composition-sub-tips"},[_c('span',[_vm._v(_vm._s(item.subTitle))])])])}),_vm._v(" "),_c('button',{staticClass:"detail-button class_button",on:{"click":_vm.showMoreDetail}},[_vm._v("点击查看更详尽的报告内容")]),_vm._v(" "),_c('div',{staticClass:"composition-banner"},[_c('img',{attrs:{"src":_vm.bannerImage,"alt":"图片加载失败"},on:{"click":_vm.onClickBanner}})])],2):_vm._e()}
var staticRenderFns = [function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"class-a-title"},[_c('span',[_vm._v("查看作文分析，获取精细批改")])])}]
var esExports = { render: render, staticRenderFns: staticRenderFns }
export default esExports


//////////////////
// WEBPACK FOOTER
// ./node_modules/vue-loader/lib/template-compiler?{"id":"data-v-5fdaed00","hasScoped":false,"transformToRequire":{"video":["src","poster"],"source":"src","img":"src","image":"xlink:href"},"buble":{"transforms":{}}}!./src/components/report-detail/components/intelligent-composition/intelligent-composition.html
// module id = null
// module chunks = 