<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content=width=device-width, initial-scale=1"
</head>
<body>
你是谁：<input type="text" id="username">
<button id="create_ws" onclick="go_to()">创建ws连接</button>
<div>
    <input type="text" id="send_msg">
    <button id="btn_send">发送消息</button>
</div>
<div style="width: 400px; height: 300px;" id="chat_window">
	<span></span>
</div>
</body>
<script type="application/javascript">
	function go_to() {

		if ("WebSocket" in window) {
					alert("您的浏览器支持 WebSocket!");
					var username = document.getElementById("username");
					var ws_url = "ws://127.0.0.1:8000/lt/lts/ws/?username=" + username.value;
					var spantag1 = document.createElement("span");
					spantag1.innerText = ws_url
					// 打开一个 web socket
					var ws = new WebSocket(ws_url);
					ws.onmessage = function (serv_msg) {
						msg = JSON.parse(serv_msg.data);
						create_chat("y",msg);
					};
				}
			}
	function create_chat(self, content) {
        if (self == "w") {
            self = "left";
            var spantag = document.createElement("span");
            spantag.innerText = "我:";
            var spantag1 = document.createElement("span");
            spantag1.innerText = content.send_msg;
        } else {
            self = "left";
            var spantag = document.createElement("span");
            spantag.innerText = content.send_user + ":";
            var spantag1 = document.createElement("span");
            spantag1.innerText = content.send_msg;
        }



        var divtag = document.createElement("div");
        divtag.style = "text-align:" + self;

        divtag.appendChild(spantag);
        divtag.appendChild(spantag1);
        var chat_window = document.getElementById("chat_window");
        chat_window.appendChild(divtag);
    }

    document.getElementById("btn_send").addEventListener("click", function () {
        var send_msg = document.getElementById("send_msg");
        ws.send(send_msg.value);
        var s_msg = {send_msg:send_msg.value};
        create_chat("w", s_msg);
        send_msg.value = "";
    })
    
</script>
</html>