<!DOCTYPE html>
<html lang="zh" style="width: 100%">
<head>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <style>
        td {
            border: 1px #000 solid;
            margin: 0;
        }

        textarea {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body style="padding: 30px ;width: 100%;">
<div>
    你是谁：<input type="text" id="username">
    <button id="create_ws" onclick="go_to()">创建ws连接</button>
    <button id="clear">清空聊天记录</button>
</div>
<table style="width: 100%">
    <tr style="width: 100%">
        <td style="width: 80%;">
            <div id="historymsg" style="height: 400px;overflow: auto"></div>
        </td>
        <td style="width: 20%">
            <div id="userlist" style="height: 400px;overflow: auto"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <textarea id="msg"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input class="btn btn-info btn-block btn-disabled" id="btn_send" type="button" value="发送">
        </td>
    </tr>
</table>
<!---<script>
alert("哈哈哈");
</script>--->
<script type="application/x-javascript">
    var ws, myname;
    $('#clear').attr("disabled", true);
    $('#btn_send').attr("disabled", true);

    function clear() {
        $('#historymsg').val('')
    }

    function go_to() {
        //先判断浏览器是否支持websocket
        if ("WebSocket" in window) {

            var username = document.getElementById("username").value.replace(/[\r\n]/g, "");

            if (username == "") {
                alert('昵称不能为空！')
            } else {
                $.getJSON('http://47.242.175.52:80/lt/lts/', {
                    'is_api': true,
                    'api_type': 'verify_username',
                    'username': username
                }, function (data) {
                    if (data.is_ok == false) {
                        alert(data.ts_msg)
                    } else {
                        var ws_url = "ws://47.242.175.52:80/lt/lts/ws/?username=" + username;
                        ws = new WebSocket(ws_url);// 打开一个 web socket,链接服务器
                        $('#create_ws').attr("disabled", true);
                        $('#clear').attr("disabled", false);
                        $('#btn_send').attr("disabled", false);
                        ws.onopen = function () {
                            // Web Socket 已连接上，使用 send() 方法尝试发送数据
                            ws.send("test");
                        };
                        myname = username
                        //监听服务端是否有消息发送过来，当有消息时执行方法
                        ws.onmessage = function (evt) {
                            //获取服务器发来的消息
                            var received_msg = evt.data;
                            //判断是返回的是消息还是用户列表和id，1是消息，0是用户列表和id，2是错误
                            msg = eval("(" + received_msg + ")")
                            console.log(msg)
                            if (msg.type == 2) {

                                alert(msg.ts)
                            } else {
                                $('#create_ws').attr("disabled", true);
                                //用户列表和id
                                if (msg.type == 0) {
                                    //userid为空表示更新用户列表,不需要更新自己的id，否则为初次登录
                                    if (msg.userid != null) {
                                        myname = msg.userid
                                        $("#userid").append(myname)
                                    }
                                    //当收到新的用户列表时，清空原来的用户列表,清空原来的用户选择框,添加群组发送选项
                                    $("#userlist").empty()
                                    for (var i = 0; i < msg.userlist.length; i++) {
                                        //填充用户列表
                                        $("#userlist").append(msg.userlist[i] + "<hr />")
                                    }
                                }
                                if (msg.type == 1) {
                                    //用户发送的消息
                                    var myDate = new Date();
                                    nowtime = myDate.toLocaleString(); //获取日期与时间
                                    newmsg = ""
                                    //判断是自己的消息，绿色显示
                                    if (myname == msg.data.user) {
                                        newmsg = "<span style='color:green'>" + msg.data.user + ":" + msg.data.msg + "</span>" + "<br />"
                                    } else {
                                        newmsg = "<span >" + msg.data.user + ":" + msg.data.msg + "</span>" + "<br />"
                                    }
                                    $("#historymsg").append(
                                        newmsg
                                    )
                                }
                            }
                        };
                        document.getElementById("btn_send").addEventListener("click", function () {


                            msgtxt = $("#msg").val()
                            if (msgtxt == "") {
                                alert('消息不能为空！')
                            } else {
                                msgtxt = msgtxt.replace(/[\r\n]/g, " ")
                                userto = "all"
                                msg = "{'type': '0','msg': '" + msgtxt + "','userto': '" + userto + "','userfrom': '" + myname + "'}"
                                $("#msg").val("")
                                $("#msg").focus()
                                ws.send(msg)
                            }
                        })
                        document.getElementById("msg").onkeydown = function (eve) {
                            if (eve.keyCode == 13) {
                                msgtxt = $("#msg").val()
                                if (msgtxt.replace(/[\r\n]/g, " ") == "") {
                                    var a = 0
                                } else {
                                    msgtxt = msgtxt.replace(/[\r\n]/g, " ")
                                    userto = "all"
                                    msg = "{'type': '0','msg': '" + msgtxt + "','userto': '" + userto + "','userfrom': '" + myname + "'}"
                                    $("#msg").val("")
                                    $("#msg").focus()
                                    ws.send(msg)
                                }
                                $("#msg").val("")
                            }
                        }
                        document.getElementById("msg").onkeyup = function (eve) {
                            if (eve.keyCode == 13) {
                                $("#msg").val("")
                            }
                        }
                    document.getElementById("btn_send").addEventListener("click", function () {
                        $('#historymsg').val('')
                    })
                    //关闭页面或其他行为导致与服务器断开链接是执行
                    ws.onclose = function () {
                        // 关闭 websocket
                        $('#create_ws').attr("disabled", false);
                        $('#clear').attr("disabled", true);
                        $('#btn_send').attr("disabled", true);
                        alert("连接已关闭，请重新连接");

                    };
                }
            }
        )
    }
    } else
    {
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket，无法连接!");
    }
    }
</script>
</body>
</html>