<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="login">
    <h1>登录页面</h1>
    <form method="post">
        <input type="text" required="required" placeholder="请输入UID或邮箱" name="u">
        </br>
        <input type="password" required="required" placeholder="请输入密码" name="p">
        </br>
        <a th:href="@{/space/user/retrieve/}">忘记密码?</a>

        <a th:href="@{/space/user/register/}">没有注册?</a>
        </br>
        <button class="but" type="submit">登录</button>
        </br>

    </form>
</div>
</body>
</html>