var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return (_vm.showModule)?_c('div',{staticClass:"container-backgrounde clsn_wrap"},[_c('div',[_c('span',{staticClass:"clsn_title"},[_vm._v(_vm._s(_vm.model.title))]),_vm._v(" "),_c('span',{staticClass:"clan_circle"})]),_vm._v(" "),_c('div',{staticClass:"clsn_conclusion",domProps:{"innerHTML":_vm._s(_vm.model.content)}})]):_vm._e()}
var staticRenderFns = []
var esExports = { render: render, staticRenderFns: staticRenderFns }
export default esExports


//////////////////
// WEBPACK FOOTER
// ./node_modules/vue-loader/lib/template-compiler?{"id":"data-v-79c2d7bb","hasScoped":false,"transformToRequire":{"video":["src","poster"],"source":"src","img":"src","image":"xlink:href"},"buble":{"transforms":{}}}!./src/components/report-detail/components/zxb-conclusion/zxb-conclusion.html
// module id = null
// module chunks = 