var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return (_vm.showModule)?_c('div',{staticClass:"container-backgrounde"},[_c('div',{staticClass:"improve-strategy-title"},[_c('h1',{staticClass:"class-a-title"},[_vm._v(_vm._s(_vm.model.title))]),_vm._v(" "),(_vm.model.subtitle)?_c('span',{staticClass:"class-a-title-tips"},[_vm._v(_vm._s(_vm.model.subtitle))]):_vm._e()]),_vm._v(" "),_c('ul',{staticClass:"ipst_anchorList"},_vm._l((_vm.model.list),function(item){return _c('li',[_c('zxb-anchorinfo',{attrs:{"anchor-info":item},on:{"go-improve":_vm.goImproveHandle}})],1)}),0),_vm._v(" "),_c('p',{staticClass:"ipst_more"},[_vm._v("更多请查看单科报告单")])]):_vm._e()}
var staticRenderFns = []
var esExports = { render: render, staticRenderFns: staticRenderFns }
export default esExports


//////////////////
// WEBPACK FOOTER
// ./node_modules/vue-loader/lib/template-compiler?{"id":"data-v-6e9287a7","hasScoped":false,"transformToRequire":{"video":["src","poster"],"source":"src","img":"src","image":"xlink:href"},"buble":{"transforms":{}}}!./src/components/report-detail/components/improve-strategy/improve-strategy.html
// module id = null
// module chunks = 